.vertopti {
  font-weight: bold;
  color: #2b8e47;
}

#moncercle3{
  background:#bfd70e;
  border-radius:50%;
  width:20px;
  height:20px;
  border:2px solid #679403;
}

#moncercle2{
  background:#FFA500;
  border-radius:50%;
  width:20px;
  height:20px;
  border:2px solid #FF4500;
}

#moncercle1, #moncercle0{
  background:#FF0000;
  border-radius:50%;
  width:20px;
  height:20px;
  border:2px solid #8B0000;
}

#moncercleok{
  background:#bfd70e;
  border-radius:50%;
  width:20px;
  height:20px;
  border:2px solid #679403;
}

#moncerclefaible, #moncerclefort{
  background:#FF0000;
  border-radius:50%;
  width:20px;
  height:20px;
  border:2px solid #8B0000;
}