  <div class="jumbotron">
    <div class="container">
          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 pull-left">
              <img src="images/logo-uneal.png" alt="Logo UNEAL" vspace="10" class="jumbotronwidth" class="img-responsive">
              </div>
              <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
              <h2 class="vertopti" style="padding-top:0.9em;">Opti' Pulvé : pulvérisation, l'application idéale</h2>
              </div>
      </div>
    </div>

<div class="container">
  <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="panel panel-default">
          <div class="panel-body">
            <form class="form-horizontal">
              <div ng-repeat="critere in criteres">
                <div class="form-group">
                  <label for="critere{{$index + 1}}" class="col-sm-4 control-label">{{ critere.nom }}*</label>
                  <div class="col-sm-8">
                    <select class="form-control" name="critere{{$index + 1}}" id="critere{{$index + 1}}" ng-model="selectedItem" ng-change="update(selectedItem, '{{$index + 1}}')">
                        <option value="" selected="selected">Selectionnez un critère</option>
                        <option ng-repeat="c in critere.critere" value="{{ c.id }}">{{ c.label | capitalize }}</option>
                    </select>
                  </div>
                </div>
              </div>
              <p style="text-align: left;"><strong>*</strong> <em>Tous les critères doivent être complétés</em></p>
              <div id="recherche-center" style="text-align: center;">
                <button type="submit" class="btn btn-lg btn-success" ng-disabled="activeBtnRecherche" ng-click="afficheResultat()" ng-hide="viewResultat">Lancer la recherche&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-ok"></button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row" ng-show="viewResultat">
    <div class="col-md-10 col-md-offset-1">
        <div class="panel panel-default">
            <div class="panel-body">
                <h3 class="vertopti" style="text-align: center;">Résultats</h3>
                <div ng-repeat="r in resultat">
                  <table class="table table-condensed">
                      <tbody>
                          <tr>
                            <td>Hauteur de pulverisation</td>
                            <td>Note {{ r.noteid_hauteur_pulve }}/3</td>
                            <td><div id="moncercle{{ r.noteid_hauteur_pulve }}"></div></td>
                          </tr>
                          <tr>
                            <td>Temperature de l'air</td>
                            <td>Note {{ r.noteid_temperature }}/3</td>
                            <td><div id="moncercle{{ r.noteid_temperature }}"></div></td>
                          </tr>
                          <tr>
                            <td>Hygrométrie</td>
                            <td>Note {{ r.noteid_hygrometrie }}/3</td>
                            <td><div id="moncercle{{ r.noteid_hygrometrie }}"></div></td>
                          </tr>
                          <tr>
                            <td>Type de sol</td>
                            <td>Note {{ r.noteid_type_sol }}/3</td>
                            <td><div id="moncercle{{ r.noteid_type_sol }}"></div></td>
                          </tr>
                          <tr>
                            <td>Vitesse du vent</td>
                            <td>Note {{ r.noteid_force_vent }}/3</td>
                            <td><div id="moncercle{{ r.noteid_force_vent }}"></div></td>
                          </tr>
                      </tbody>
                  </table>
                  <h1 style="color:green;">Conditions d'application</h1>
                  <h5>ATTENTION : conseil valable qu'en l'absence de point rouge ci-dessus, le type de sol n'est pas à prendre en compte à l'exception de l'application "Herbicide racinaire"</h5>
                </div>
                <canvas id="jauge" width="300" height="150">
                </canvas>
                <canvas id="legendJauge" width="300" height="150">
                </canvas>
            </div>
        </div>
  </div>
</div>